

.hero
{
	height: 500px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../images/background3.jpg');
	overflow: hidden;
}

.hero-content
{
	padding: 10px;
	padding-top: 100px;
	padding-bottom: 40px;
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	text-shadow: 1px 2px 0 #000;
}


.github-logo
{
	background-color: #eee;
	padding: 5px;
	border-radius: 4px;
	text-align: center;
	display: block;
	margin-top: 2em;
}

blockquote{
	border-left: 5px solid #4db6ac;
}

.lightgreen-text{
	color: #4db6ac;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {

	.fa-logo{
		font-size:25px;
	}

	.fa-normalize{
		margin-top: 20px;
		font-size: 20px;
	}

	i{
		font-size: 20px;
	}
}